.celdaInformativoFormFacturacion{
	text-align: right; 
	background: none repeat scroll 0% 0% rgb(241, 241, 241); 
	width: 20%;
	padding: 0 3px 0 5px;
	border:solid 1px #bfbfbf;
}
.fuente3 {
	font-size: 9pt;
	
	
}
.celdaInteractuableFormFacturacion{
	text-align: left; 
	width: 30%;
	/*padding: 0 3px 0 5px;
	border:solid 1px #bfbfbf;*/
}
.inputForm{
	width: 98%
}

.fac_contenidoTabla{
	width: 100%;
	border: 0;
	border-spacing: 2px;
    border-collapse: separate;
    margin:auto;
}
.fac_contenidoTabla td{
	padding: 2px;
	width: 12%;
	
}
.calendario{
	/*width: 100%;*/
	  margin-left: 8px;
}
.calendarioNoVisible{
	display: none;
}
.calendarioVisible{
	display: inline-block;
}
.Input {
	border: #d3d3d3 1px solid;
	/*BORDER-RIGHT: #d3d3d3 thin solid;
	BORDER-TOP: #d3d3d3 thin solid;
	BORDER-LEFT: #d3d3d3 thin solid;
	BORDER-BOTTOM: #d3d3d3 thin solid;*/
}

.InputSin {
	border: #000000 1px none;
	/* BORDER-RIGHT: #000000 1px none;
	BORDER-TOP: #000000 thin none;
	BORDER-LEFT: #000000 thin none;
	BORDER-BOTTOM: #000000 thin none; */
}

.InputSinAcceso {
	BORDER: #d3d3d3 1px solid;
	background-color: ghostwhite;
}
.filaSeccion{
  	background-color: slategrey;
    color: snow;
    text-align: center;
}
.displayNone{
	display: none;	
}
.barraBotones{
  background: none repeat scroll 0 0 #BFBFBF;
  border: 1px solid #DDDDDD;
  padding: 5px 0;
  width: 100%;
  margin-top: 22px;
}
.alignCenter{
	text-align: center;
}
.cntFactura{
	margin: 43px 43px 43px 43px;
}
.piechart{
	width: 900px; 
	height: 500px;
}
.gen_fondo{

position: absolute;

width: 100%;

height: 100%;

z-index: 500;

background: black;

background: -moz-linear-gradient(top, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.2) 1%, rgba(0,0,0,0.2) 100%); /* FF3.6+ */

background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.2)), color-stop(1%,rgba(0,0,0,0.2)), color-stop(100%,rgba(0,0,0,0.2))); /* Chrome,Safari4+ */

background: -webkit-linear-gradient(top, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.2) 1%,rgba(0,0,0,0.2) 100%); /* Chrome10+,Safari5.1+ */

background: -o-linear-gradient(top, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.2) 1%,rgba(0,0,0,0.2) 100%); /* Opera 11.10+ */

background: -ms-linear-gradient(top, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.2) 1%,rgba(0,0,0,0.2) 100%); /* IE10+ */

background: linear-gradient(to bottom, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.2) 1%,rgba(0,0,0,0.2) 100%); /* W3C */

filter: alpha(opacity=40);

/*filter: progidXImageTransform.Microsoft.gradient( startColorstr='#33000000', endColorstr='#33000000',GradientType=0 );*/ /* IE6-9 */

top: 0; 

}
.divCarga2{
display: none;
position : fixed; 
display :'none;
border:1px solid #fff;
box-shadow: 0px 2px 7px #292929;
-moz-box-shadow: 0px 2px 7px #292929;
-webkit-box-shadow : 0px 2px 7px #292929;
border-radius : 10px;
-moz-border-radius: '10px;
-webkit-border-radius : 10px;
background : white; 
z-index : 501;
text-align : center;
FONT-FAMILY : Tahoma;
height: 25%;
left: 38%;
text-align: center;
top: 33%;
width: 28%;
   
border-radius: 32px 32px 32px 32px;
-moz-border-radius: 32px 32px 32px 32px;
-webkit-border-radius: 32px 32px 32px 32px;
border: 0px solid #000000;
}
.fuente1 {
	font-size: 11pt;
	font-weight: bold;
}
.trError{
	background-color: antiquewhite;
    border-style: solid;
    color: red;
    /*display: none;*/
    width: 100%;
}
.inputFondoError{
	background-color: #FFCCCC;
}
